<div class="post">
  <div class="post-author-name">{{post.createdBy.username}}</div>

  <!-- TIPS: [ngStyle]="{'background-image': url(...) }" -->
  <div class="post-author-photo" *ngIf="post.createdBy.photoUrl"
    [ngStyle]="{'background-image': 'url('+ post.createdBy.photoUrl + ')'}">
  </div>

  <div class="post-author-photo" *ngIf="!post.createdBy.photoUrl"
    style="background-image: 'url(\'https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Unknown_person.jpg/434px-Unknown_person.jpg\')'">
  </div>
  <div class="post-date">{{post?.createdAt | lisibleDate}}</div>

  <!-- TIPS: [ngClass]="{liked: [expression booléenne]}" -->
  <div (click)="like()" class="post-user-like">
    <i nz-icon nzType="heart" [nzTheme]="post.liked ? 'fill' : 'outline'"></i>
  </div>

  <p class="post-text">
    <!-- Afficher le texte du poste uniquement-->
    {{post.message.text.content | removeUrl: post.message.attachements}}
  </p>

  <!-- Itérer sur les "attachements" du message -->
  <div class="post-attachements" *ngFor="let element of post.message.attachements; trackBy: trackElementByIndex">
    <!-- Utiliser ngIf pour afficher le bon composant en fonction du type d'élément-->
    <app-post-attachement-youtube *ngIf="element.type === 'youtube'" [element]="element">
    </app-post-attachement-youtube>
    <app-post-attachement-image *ngIf="element.type === 'image'" [element]="element"></app-post-attachement-image>
    <app-post-attachement-audio *ngIf="element.type === 'audio'" [element]="element"></app-post-attachement-audio>
    <app-post-attachement-video *ngIf="element.type === 'video'" [element]="element"></app-post-attachement-video>
    <app-post-attachement-pdf *ngIf="element.type === 'pdf'" [element]="element"></app-post-attachement-pdf>
    <app-post-attachement-link *ngIf="element.type === 'link'" [element]="element"></app-post-attachement-link>
    <div *ngIf="element.type === 'text'">{{element.content}}</div>

  </div>
  <div #anchor></div>
</div>